.cours-dash-title {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cours-d-title-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cours-d-title-container button {
  background-color: #43b4be;
  width: 80px;
  height: 40px;
  color: #fff;
  font-weight: 800;
  border-radius: 10px;
}

.cours-dashbord {
  width: 100%;
  height: max-content;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}
.pack {
  width: 82%;
  height: max-content;
  border: 1px gray solid;
}
.cour-dash-container {
  width: 82%;
  height: 100%;
  /* background-color: green; */
}

.cours-dash-container {
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: end;

  /* position: relative;
    left: 0; */
}
.cours-dash {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(128, 128, 128, 0.534); */
  border-bottom: none;
  /* border-radius: 7px; */
  overflow: hidden;
}
.cours-dash .titres {
  width: 100%;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.439);
  display: flex;
}
.cours-dash .titres .cours-name {
  width: 29%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .titres .description {
  width: 20%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .titres .dett {
  width: 25%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .titres .actions {
  width: 16%;

  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .userdetails {
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.439);
  display: flex;
}
.cours-dash .userdetails .cours-name {
  width: 29%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .userdetails .cours-name .userimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cours-dash .userdetails .cours-name .userimg img {
  width: 100%;
}
.cours-dash .userdetails .cours-name .fullnamedetails {
  height: 60%;
  width: 80%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.cours-dash .userdetails .cours-name .fullnamedetails p {
  font-weight: 400 !important;
  color: gray;
}
.cours-dash .userdetails .description {
  width: 20%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .userdetails .dett {
  width: 25%;
  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
}
.cours-dash .userdetails .actions {
  width: 16%;

  padding-left: 1%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  font-weight: 600;
}
.cours-dash .userdetails .actions .views {
  width: 70px;
  padding: 0px;
  height: 60%;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  border: none;
  transition: 1s all ease;
  background-color: green;
}
.cours-dash .userdetails .actions .del {
  width: 70px;
  height: 60%;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  border: none;
  transition: 1s all ease;
  background-color: red;
}
.cours-dash .userdetails .actions .views:hover {
  background-color: rgba(0, 128, 0, 0.674);
}
.cours-dash .userdetails .actions .del:hover {
  background-color: rgba(255, 0, 0, 0.564);
}
.btn_inscri_student {
  width: 82%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.btn_inscri_student .btn {
  width: 50%;
  height: 40px;
  background-color: #43b4be;
  color: white;
  font-size: 20px;
}
.btn_inscri_student .btn1 {
  width: 50%;
  height: 40px;
  background-color: #a4a4a4;
  color: white;
  font-size: 20px;
}
