.courses{
    width: 100%;
    height: max-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses-container{
    max-width: 1100px;
    min-width: 260px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(215px,1fr));
    gap: 2rem;
}