.cours-card {
  width: 310px;
  /* height: max-content; */
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0 0 0;
  gap: 16px;
  justify-content: flex-start;
  height: 430px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.173) 0px 3px 8px;

}
.cours-card:hover{
  background-color: #f39b3636;
}
/* .cours-card img{
    width: 90%;
    border-radius: 10px;
} */
.cours-card-img {
  width: 100%;
  height: 50%;
  
  /* border: 1px solid #43B4BE; */
  /* background-color: red; */
}
.cours-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;

}
.cours-card-pack {
  width: 90%;
}
.cours-card-pack h2 {
  background-color: transparent;
  padding: 3%;
  border-radius: 3px;
  /* background-color: red; */
}
.cours-card a {
  width: 90%;
}
.cours-card-instructor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 5px; */
}
.cours-card-instructor img {
  width: 40px;
  border-radius: 50%;
}
.cours-card-time-student {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: rgb(194, 8, 8) !;
}
.cours-card-time-student .titre_student {
  width: 200px;
  display: flex;
  align-items: center;
}
.cours-card-time-student .titre_student p {
    margin-left: 10px;
}
.cours-card-time-student p,
.cours-card-time-student svg {
  color: gray;
  fill: gray;
}
