.create-Instructor-modal {
  position: fixed;
  width: 82%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.635);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  right: 0;
  top: 0;
}

.create-Instructor-modal-container {
  width: 80%;
  height: 520px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 3px 15px #0175cd1d;
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
}
.create-Instructor-modal-content {
  width: 95%;
}
.c-Instructor-m-title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #0175cd;
}
.c-Instructor-m-title .modale-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 190px;
}
.c-Instructor-m-title svg {
  cursor: pointer;
}
.Instructor-modal-content {
  /* background-color: red; */
  height: max-content;
}
.Instructor-modal-content h3 {
  padding: 5px 0;
}
.Instructor-modal-content .Instructor-modale-name {
  width: 80%;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
}
.Instructor-modal-content input {
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
}

.Instructor-modal-button {
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  width: 97%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
  gap: 10px;
}
.Instructor-modal-button .Instructor-close {
  background-color: #f9f9f9;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.Instructor-modal-button .Instructor-submit {
  background-color: green;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}

.pass {
  position: relative;
}
.pass svg {
  position: absolute;
  top: 55%;
  right: 170px;
}
 .alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: fixed;
  z-index: 11 !important;
}

 .success {
  color: #3c763d;
  background-color: #48ff00;

  display: none;
}
 .success1 {
  color: #ffffff;
  background-color: #1fd270;
  display: flex;
  width: 97%;
  padding-left: 3%;
  top: 0;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: none;
}
 .warning1 {
  color: white;
  background-color: #f72828;
  display: flex;
  width: 97%;
  padding-left: 3%;
  top: 0;
}