.create-cours-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.635);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create-cours-modal-container{
    width: 62%;
    height: max-content;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0px 3px 15px #0175cd1d;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}
.create-cours-modal-content {
  width: 95%;
  /* background-color: red; */
}
.c-cours-m-title {
  width: 100%;
  height: 100px;
  display: flex;
  margin-bottom: 10px;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #0175cd;
}
.c-cours-m-title .modale-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;
}
.c-cours-m-title svg {
  cursor: pointer;
}
.cours-modal-content {
  /* background-color: red; */
  height: max-content;
}
.cours-modal-content h3 {
  padding: 10px 0;
}
.cours-modal-content .cours-modale-name {
  width: 90%;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
}
.cours-modal-content input {
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 90%;
  outline: none;
}

.cours-modal-button {
  /* background-color: red; */
  position: relative;
  bottom: 0;
  width: 92%;
  /* right: 5%; */
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
  gap: 10px;
}
.cours-modal-button .cours-close {
  background-color: #f9f9f9;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.cours-modal-button .cours-submit {
  background-color: green;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}

.c-c-m-desc {
  height: 100px;
}
/* insructor liste  */
 .c-c-m-instr {
  width: 92%;
  padding: 12px ;
  padding-left: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


