.create-pack-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.635);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create-pack-modal-container{
    width: 70%;
    height: 500px;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 0px 3px 15px #0175cd1d;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
}
.create-pack-modal-content {
  width: 95%;
  /* background-color: red; */
}
.c-pack-m-title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #0175cd;
}
.c-pack-m-title .modale-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;
}
.c-pack-m-title svg {
  cursor: pointer;
}
.pack-modal-content {
  /* background-color: red; */
  height: max-content;
}
.pack-modal-content h3 {
  padding: 10px 0;
}
.pack-modal-content .pack-modale-name {
  width: 80%;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
}
.pack-modal-content input {
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
}

.pack-modal-button {
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  width: 97%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
  gap: 10px;
}
.pack-modal-button .pack-close {
  background-color: #f9f9f9;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.pack-modal-button .pack-submit {
  background-color: green;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
