footer {
  width: 100%;
  height: 380px;
  background-color: #bdcbda;
  margin-top: 20px;
}
footer .footer-container {
  width: 100%;
  height: 82%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-content {
  max-width: 22%;
  min-width: 13%;
  height: 70%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: flex-start;
  align-content: center;
  font-weight: 400;
  line-height: 1.5; /* You can adjust this value as needed */
}
.footer-content .fc-contact {
  width: 100%;
  height: 50%;
  margin-top: 15px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-content .fc-contact .contact-input {
  width: 100%;
  height: 40px;
  /* background-color: red; */
}
.footer-content .contact-input input {
  width: 60%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 5%;
}
.footer-content .contact-input button {
  width: 35%;
  height: 100%;

  border: none;
  background-color: #1e3048;
  color: white;
  font-weight: 600;
}
.footer-content .fcliste {
  width: 100%;
  height: 90%;
  margin-top: 15px;
  /* background-color: aqua; */
}
.footer-content .fcliste p {
  width: 80%;
  padding: 3px 0;
}
.footer-content .fc-logo {
  width: 100%;
  height: 90%;
  margin-top: 15px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-content .fc-logo p {
  height: max-content;
  width: 88%;
  line-height: 1.5; /* You can adjust this value as needed */
}
.footer-content .footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  color: #0175cd;
}
.footer-content img {
  width: 120px;
}
footer .footer-copyright {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #1e3048;
  font-weight: 400 !important;
}
footer .footer-copyright p {
  color: white !important;
}
