nav {
  width: 100%;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.107) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* or absolute, or fixed */
background-color: white;  z-index: 10 !important;
}
.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
}
nav .navbar-logo {
  width: 180px;
  height: 90%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
}
.navbar-logo img{
  width: 140px;
  height: 70px;
}
nav .navbar-content {
  width: 80%;
  height: 90%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  justify-content: space-between;
  gap: 20px;
}
.navbar-content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 50%;
}
.navbar-content span {
  /* background-color: red; */
  height: 38px;
  display: flex;
  align-items: center;
  position: relative;
color: #333333e8;

}
.navbar-content span section {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #FFC55A;
  bottom: 0;
  left: 50%;
  transition: 0.5s all ease;
}
.navbar-content span:hover section {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFC55A;
  bottom: 0;
  left: 0;
}
.navbar-content span:hover {
  /* border-bottom: 3px solid #0175CD; */
  cursor: pointer;
  color: #FFC55A;
}
.navbar-content .navbar-sign {
  color: #ffffff;
  background-color: #f39a36;
  border-radius: 6px 6px 6px 6px;
  width: 110px;
  height: 38px;
  font-weight: 600;
}

.nav-profile-logout {
  width: 180px;
  height: max-content;
  background-color: #8DCBDA ;
  border: 1px #0175cd91 solid;
  position: absolute;
  right: 31px;
  bottom: -68px;
  padding: 10px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-profile-logout span{
width: 85%;
/* background-color: #fff; */
color: #333333;
}
.nav-profile,.nav-logout{
  display: flex;
  width: 85%;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid gray;
}
.nav-profile-logout .nav-profile span:hover svg{
  fill: #0175CD;
  background-color: #fff;
}