.buttonStudent {
  width: max-content;
  padding: 0 20px;
  height: 45px;
  border-radius: 15px;
  background-color: #1e3048;
  color: white;
  font-weight: 600;
}
.student_list {
  width: 100%;
  height: 810px;
  position: fixed;

  background-color: rgba(14, 14, 14, 0.635);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  right: 0;
  top: 0;
  padding-top: 25px;
  z-index: 10;
}
.student_list .list {
  width: 500px;

  height: 550px;
  background-color: white;
  border-radius: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.student {
  width: 100%;
  height: 100px;
  border-bottom: 1px gray solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.student .contentstudent {
  width: 46%;
  height: 100%;
  display: flex;
  padding-left: 4%;
  justify-content: flex-start;
  align-items: center;
}
.student .contentstudent .img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.student .contentstudent .img img {
  width: 100%;
}
.student .contentstudent .text {
  width: max-content;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15px;
}

.student .contstudent {
  width: 46%;
  padding-right: 4%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.student .contstudent button {
  background-color: #1e3048;
  width: max-content;
  padding: 0 15px;
  height: 40px;
  border-radius: 15px;
  font-weight: 600;
  color: white;
}
