.create-Update_quizz-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 14, 14, 0.635);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
}

.create-Update_quizz-modal-container {
  width: 70%;
  height: 500px;
  background-color: #fff;
  margin-top: 50px;
  box-shadow: 0px 3px 15px #f39b364e;
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
}
.create-Update_quizz-modal-content {
  width: 95%;
  /* background-color: red; */
}
.c-File-m-title {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #f39a36;
}
.c-File-m-title .modale-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  width: max-content;
}
.c-File-m-title svg {
  cursor: pointer;
}
.File-modal-content {
  /* background-color: red; */
  height: max-content;
}
.File-modal-content h3 {
  padding: 10px 0;
}
.File-modal-content .File-modale-name {
  width: 80%;
  height: 25px;
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
}
.File-modal-content input {
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
  outline: none;
}
.File-modal-content select {
  border: 1px solid rgba(128, 128, 128, 0.551);
  border-radius: 2px;
  padding-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 82%;
  outline: none;
}

.File-modal-button {
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  width: 97%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
  gap: 10px;
}
.File-modal-button .File-close {
  background-color: #f9f9f9;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.File-modal-button .File-submit {
  background-color: green;
  border: 1px solid rgba(128, 128, 128, 0.667);
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}

.c-c-m-desc {
  height: 100px;
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #f39a36;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
#showbUtton {
  width: max-content;
  padding: 0 10px;

  height: 40px;
  background-color: #183153;
  color: white;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 20px;
  transition: 1s all ease;
}
#showbUtton:hover {
  background-color: #f39a36;
}
.svggupdate {
  fill: rgb(18, 122, 226) !important;
}
.modale-title h2 {
  font-size: 17px !important;
}
.modale-title h3 {
  font-size: 17px !important;
}
#showbUtton {
  width: max-content;
  padding: 0 10px;

  height: 40px;
  background-color: #183153;
  color: white;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 20px;
  transition: 1s all ease;
}
#showbUtton:hover {
  background-color: #0175cd;
}
.updatebutton {
  width: max-content;
  padding: 0 10px;
  background-color: #f39a36;
  height: 40px;
  border-radius: 15px;
  margin-right: 5px;
  color: white;
  transition: 1s all ease;
}
.updatebutton:hover {
  background-color: #eca657;
}
